In [ ]:
# Initialize Otter Grader
import otter
grader = otter.Notebook()

# Homework: Python Basics

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

## Lists

1.1 Create an empty Python list called 'a' in the cell below.
<!--
BEGIN QUESTION
name: q1_1
manual: false
points: 1
-->

In [21]:
a = []

In [ ]:
grader.check("q1_1")

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.
<!--
BEGIN QUESTION
name: q1_2
manual: false
points: 1
-->

In [22]:
for i in range(1,101,3):
    a.append(i)
    
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

In [ ]:
grader.check("q1_2")

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).
<!--
BEGIN QUESTION
name: q1_3
manual: false
points: 1
-->

In [23]:
i = 2
a2 = []
while i <= 46:
    a2.append(i)
    i += 0.5
    
print(a2)

[2, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

In [ ]:
grader.check("q1_3")

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.
<!--
BEGIN QUESTION
name: q1_4
manual: false
points: 1
-->

In [24]:
for i in range(1,len(a),2):
    a[i] = a[i]*2
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97, 200]

In [ ]:
grader.check("q1_4")

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).
<!--
BEGIN QUESTION
name: q1_5
manual: false
points: 1
-->

In [27]:
#your code here
sum_a = 0
for i in range(len(a)):
    if( i == 1 or i == 20):
        continue;
    sum_a = sum_a + a[i]
print(sum_a)

2532

In [ ]:
grader.check("q1_5")

1.6 Calculate the mean of 'a'.
<!--
BEGIN QUESTION
name: q1_6
manual: false
points: 1
-->

In [30]:
#your code here
import statistics as st
mean_a = st.mean(a)
print(mean_a)

76.5

In [ ]:
grader.check("q1_6")

1.7 Delete all elements greater than the mean value from list 'a'
<!--
BEGIN QUESTION
name: q1_7
manual: false
points: 1
-->

In [33]:
#your code here
i = 0
while i < len(a):
    if(a[i] > mean_a):
        a.pop(i)
    else:
        i = i + 1
        
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 43, 49, 55, 61, 67, 73]

In [ ]:
grader.check("q1_7")

## Strings

2.1 Create an empty list called 'b'.
<!--
BEGIN QUESTION
name: q2_1
manual: false
points: 1
-->

In [81]:
#your code here
b = []

In [ ]:
grader.check("q2_1")

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'
<!--
BEGIN QUESTION
name: q2_2
manual: false
points: 1
-->

In [82]:
#your code here
data = 'I am so excited about Data-X. It is important to be able to work with data.'
b = data.split()
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

In [ ]:
grader.check("q2_2")

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.
<!--
BEGIN QUESTION
name: q2_3
manual: false
points: 1
-->

In [83]:
#your code here
occurences = 0
for i in range(len(b)):
    occurences += b[i].count('e')
    
print(occurences)

4

In [ ]:
grader.check("q2_3")

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.
<!--
BEGIN QUESTION
name: q2_4
manual: false
points: 1
-->

In [84]:
#your code here
for i in range(len(b)):
    b[i] = b[i].replace('i','1')
    b[i] = b[i].replace('I','1')

print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

In [ ]:
grader.check("q2_4")

2.5 Append the string "This is the end of the first HW." to the list 'b'.
<!--
BEGIN QUESTION
name: q2_5
manual: false
points: 1
-->

In [85]:
#your code here
second = "This is the end of the first HW."
second = second.split()
for i in range(len(second)):
    b.append(second[i])
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW.']

In [ ]:
grader.check("q2_5")

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").
<!--
BEGIN QUESTION
name: q2_6
manual: false
points: 1
-->

In [95]:
#your code here
temp = ''
for i in range(len(b)-1,-1,-1):
    for j in range (len(b[i])-1,-1,-1):
        temp = temp + b[i][j]
    temp += " "
b = temp


print(b)

.WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1
.WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1

In [ ]:
grader.check("q2_6")

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.
<!--
BEGIN QUESTION
name: q3_1
manual: false
points: 1
-->

In [129]:
#your code here
codes = {1001:'alpha',1002:'beta',1003:'gamma' ,1004:'delta', 1005:'tau'}

print(codes)

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

In [ ]:
grader.check("q3_1")

3.2 Delete 'alpha' from the dictionary.
<!--
BEGIN QUESTION
name: q3_2
manual: false
points: 1
-->

In [130]:
#your code here
codes.pop(1001)
print(codes)

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

In [ ]:
grader.check("q3_2")

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.
<!--
BEGIN QUESTION
name: q4_1
manual: false
points: 1
-->

In [100]:
#your code here
c = {1,3,5,7,9}
print(c)

{1, 3, 5, 7, 9}

In [ ]:
grader.check("q4_1")

4.2 Create another set called 'd' with elements 2, 5, 10, 30.
<!--
BEGIN QUESTION
name: q4_2
manual: false
points: 1
-->

In [101]:
#your code here
d = {2,5,10,30}
print(d)

{2, 10, 5, 30}

In [ ]:
grader.check("q4_2")

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.
<!--
BEGIN QUESTION
name: q4_3
manual: false
points: 1
-->

In [102]:
#your code here
e = c.union(d)
print(e)

{1, 2, 3, 5, 7, 9, 10, 30}

In [ ]:
grader.check("q4_3")

4.4 Find the intersection between sets 'c' and 'd' and store this in a new set called 'f'.
<!--
BEGIN QUESTION
name: q4_4
manual: false
points: 1
-->

In [103]:
#your code here
f = c.intersection(d)
print (f)

{5}

In [ ]:
grader.check("q4_4")

## Function

5.1 Create a function called 'f_med.' The input is an array, and the output is the medium number of that array. Note that, if total elements are even, the output should be the average of the two medium elements.
<!--
BEGIN QUESTION
name: q5_1
manual: false
points: 2
-->

In [139]:
#your code here
def f_med(array):
    array.sort()
    Len = len(array)
    if Len == 0:
        return None
   
    
    if int(Len%2) == 0:
        median = (array[int(Len/2)] + array[int(Len/2)-1])/2
    else:
        median =  array[int(Len/2)]
    
    return median

In [ ]:
grader.check("q5_1")

5.2 Create a function f_search which finds first and last position of element in decending sorted array. The inputs are an array of integers nums sorted in decending order and a target. The output is the starting and ending position of a given target value.

If the target is not found in the array, return [-1, -1].

Example 1:

Input: nums = [9, 8, 8, 6, 4, 3, 1], target = 8
Output: [1,2]

Example 2:

Input: nums = [9, 8, 8, 6, 4, 3, 1], target = 5
Output: [-1,-1]
<!--
BEGIN QUESTION
name: q5_2
manual: false
points: 2
-->

In [125]:
#your code here
def f_search(arr, target):
    idx_1 = -1
    idx_2 = -1
    for i in range(len(arr)):
        if(arr[i] != target):
            continue;
        elif(idx_1 == -1):
            idx_1 = i;
        else:
            idx_2 = i;
            
            
    return [idx_1, idx_2]

In [127]:
nums = [9, 8, 8, 6, 4, 3, 1] 
target = 1

out = f_search(nums,target)
print(out)

[6, -1]

In [ ]:
grader.check("q5_2")

# Submit
Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output.
**Please save before submitting!**

In [119]:
# Save your notebook first, then run this cell to create a pdf for your reference.